@import compass

html, body {
    height:100%;
    width:100%;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    padding-top: 4px;
}

.navbar {
    background-color: #fff;
    padding: 1% 0;
    font-size: 1.4em;
}

.navbar-brand {
    min-hright: 50px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;

}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #D5D5D5;

}
/* ABOUT Home Section */
#Home {
    display: table;
    overflow: auto;
    height:100%;
    position: relative;
    width: 100%;
    padding: 80 15px 5px;

}

.container{
    padding:5% 5% 10% 5%;
    width: 80%;
}

.container h2{
    padding-top: 3em;
    font-size: 1.6em;
    font-weight: 700;
}


.container a {
    color: #4f86aa;
    border-color: rgba(79,134,170,0.2);
}

.col-sm-6 video {
    width: 140%;

}

.regular_text{
    font-size: 25px;
    padding: 50px 10px;
}

/*
.underline_text{
    text-decoration: underline;
}
*/


.container span {
  background-image: linear-gradient(#ffd900, #ffd900);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
}

.container span:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
}

.container span {
  transition: background-size .5s, background-position .3s ease-in .5s;
}

.container span:hover {
  transition: background-position .5s, background-size .3s ease-in .5s;
}

/* ABOUTME */

#AboutMe {
    display: table;
    overflow: auto;
    height:100%;
    position: relative;
    width: 100%;
    padding: 80 15px 5px;
    font-family: 'Lilita One', cursive;

}


.regular_text{
   font-size: 1.2em;
}

.Shapes {
    margin: auto;
    background-color:red;
}

td {
    height:200px;
    weight:100px;
    border: 6px solid white;
}

#one {
    background-color: #38608C;
}

#two {
    background-color: #EF8B5F;
}

#three {
    background-color: #56D8B6;
}

#four {
    background-color: #FFD166;
}

#five {
    background-color: #FF6670;
}


/* ABOUT FOOTER */

footer {
    width: 100%;
    background-color: #45454d;
    padding:5% 5% 5% 5%;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 20px;
    color: #FFF;
}

.fa:hover {
    text-decoration: none;
    color: #D5D5D5;
}

.icon {
    max-width: 200px;
}

@media(max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }

    .fa {
        font-size: 20px;
        padding: 10px;
    }

    .icon {
        padding-top: 5%;
        max-width: 100px;
    }

}